# Включаем mod_rewrite
RewriteEngine On

# Запрещаем доступ к конфигурационным и системным файлам
<FilesMatch "^(composer\.json|composer\.lock|\.env|\.htaccess|README\.md)$">
    Order Allow,Deny
    Deny from all
</FilesMatch>

# Запрещаем доступ к папке vendor
RewriteRule ^vendor/ - [F,L]

# Перенаправляем все запросы в public/, если не запрашивается существующий файл или директория
RewriteCond %{REQUEST_URI} !^/public/
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ public/%{REQUEST_URI} [L,QSA]
